<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.collegemanagementapp" >
    <!-- add permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CollegeManagementApp" >
        <activity
            android:name=".notice.DeleteNoticeActivity"
android:label="@string/delete_notice"
            android:exported="false" />
        <activity
            android:name=".faculty.UpdateTeacherActivity"
            android:label="@string/update_faculty"
            android:exported="false" />
        <activity
            android:name=".faculty.AddTeacher"
            android:label="@string/add_teacher"
            android:exported="false" />
        <activity
            android:name=".faculty.UpdateFaculty"
            android:exported="false" />
        <activity
            android:name=".UploadPdfActivity"
            android:label="@string/upload_ebook"
            android:exported="false" />
        <activity
            android:name=".UploadImage"
            android:label="@string/upload_image"
            android:exported="false" />
        <activity
            android:name=".notice.UploadNotice"
            android:label="@string/upload_notice"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>